In [ ]:
pip install geopy

In [1]:
import pandas as pd 
import numpy as np 
import math 
import os
import datetime
from datetime import date, datetime, timedelta
import re
import ast
import geopy
from geopy import distance

from geopy.geocoders import Nominatim

## 1.Checking dimensions tables.

In [2]:
dimension_table = pd.read_excel('Inputs/User Details.xlsx', sheet_name = None,  parse_dates=True )

In [3]:
if 'pandas' in str(type(dimension_table)): 
    print(dimension_table)
elif 'dict' in str(type(dimension_table)):
    for dimension in dimension_table:
        print('---------------------------------------------------------------------------------------')
        print(dimension)
        print('---------------------------------------------------------------------------------------')
        print(dimension_table[dimension])
        print('---------------------------------------------------------------------------------------')

---------------------------------------------------------------------------------------
Accounts
---------------------------------------------------------------------------------------
   AccountID AccountName
0         55      AMDS 1
1         25      AMDS 2
2         71      AMDS 3
3         58      AMDS 4
4         48      AMDS 5
5         81      AMDS 6
6         25      AMDS 7
7         61      AMDS 8
8         26      AMDS 9
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
Assets
---------------------------------------------------------------------------------------
   AssetID License Plate     Make Model  AccountID  Datasource  Tank Capacity
0      362    GA-567-789   Renaut  R-1A         55      334455            100
1      289    GA-123-456     Ford  F-2B         55      334456             90
2      338    EU-234-567  Citroen  C-3C         55      334457            110
3      485    AB-345-678   Renaut  R-2A         58      334458            120
4      409    CA-456-789     Ford  F-3B         48      334459            100
---------------------------------------------------------------------------------------

In [4]:
accounts = dimension_table['Accounts']
assets = dimension_table ['Assets']

In [5]:
print(accounts.info())
print('--------------------------------------------')
print(accounts.duplicated(subset='AccountID').sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AccountID    9 non-null      int64
 1   AccountName  9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes
None
--------------------------------------------
1

<b>So, there are duplicates</b> in primary key for Accounts table. Not good. Should be reported to developers. 
Can be resolved in many ways: 
- 1.Try to find out which AccountID should actually have each of accounts in alternative source of truth (if there is any), report to devs and to fix it for now as ad hoc. 
- 2. Drop duplicate (second one by default). 
- 3. To set it last existing id in current table +1 at least for now in case I need to calculate some stats in account table. 

Let's have a look on, probably, connected assets table though. 

Datatypes looks right.

In [6]:
assets.shape[0]

5

In [7]:
print(assets.info())
print()
print(assets.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AssetID        5 non-null      int64
 1   License Plate  5 non-null      object
 2   Make           5 non-null      object
 3   Model          5 non-null      object
 4   AccountID      5 non-null      int64
 5   Datasource     5 non-null      int64
 6   Tank Capacity  5 non-null      int64
dtypes: int64(4), object(3)
memory usage: 412.0+ bytes
None

AssetID          5
License Plate    5
Make             3
Model            5
AccountID        3
Datasource       5
Tank Capacity    4
dtype: int64

In [8]:
def deduplicator(df, primary_keys): 
    if df.duplicated(subset = primary_keys).sum() > 0: 
        df.drop_duplicates(subset = primary_keys, inplace = True, ignore_index= True)
        return None #todo: write amount of deduplicated rows in a list -part of dict, which will be then dict of metadata.

In [9]:
deduplicator(accounts, 'AccountID')

In [10]:
deduplicator(assets, 'AssetID')

In [11]:
def values_mapper(df, column_name, mapper):
    new_col = column_name + '_fixed'
    df[new_col] = df[column_name].map(mapper)
    df[new_col] = df.apply(lambda x: x[column_name] if pd.isna(x[new_col]) else x[new_col], axis =1 )

In [12]:
assets_fix = {'Renaut': 'Renault'}
values_mapper(assets, 'Make', assets_fix)
print(assets)

   AssetID License Plate     Make Model  AccountID  Datasource  Tank Capacity  \
0      362    GA-567-789   Renaut  R-1A         55      334455            100
1      289    GA-123-456     Ford  F-2B         55      334456             90
2      338    EU-234-567  Citroen  C-3C         55      334457            110
3      485    AB-345-678   Renaut  R-2A         58      334458            120
4      409    CA-456-789     Ford  F-3B         48      334459            100

  Make_fixed
0    Renault
1       Ford
2    Citroen
3    Renault
4       Ford

In [13]:
assets.rename(columns = {'Make': "maker", 'Make_fixed': 'maker_fixed', 'AssetID': 'asset_id', 
                         'License Plate': 'license_plate', 'Model': 'model', 'AccountID':'account_id', 
                         'Datasource': 'data_source', 'Tank Capacity': 'tank_capacity'
                        }, inplace = True)

In [14]:
accounts.rename(columns= {'AccountID': 'account_id', 'AccountName':'account_name'}, inplace = True)

In [15]:
accounts

   account_id account_name
0          55       AMDS 1
1          25       AMDS 2
2          71       AMDS 3
3          58       AMDS 4
4          48       AMDS 5
5          81       AMDS 6
6          61       AMDS 8
7          26       AMDS 9

In [16]:
print(accounts.info())
print()
print('----------------')
print()
print(assets.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    8 non-null      int64
 1   account_name  8 non-null      object
dtypes: int64(1), object(1)
memory usage: 260.0+ bytes
None

----------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asset_id       5 non-null      int64
 1   license_plate  5 non-null      object
 2   maker          5 non-null      object
 3   model          5 non-null      object
 4   account_id     5 non-null      int64
 5   data_source    5 non-null      int64
 6   tank_capacity  5 non-null      int64
 7   maker_fixed    5 non-null      object
dtypes: int64(4), object(4)
memory usage: 452.0+ bytes
None

Talbes cleared. Let.s leave it

## 2. Facts tables cleaning

In [17]:
def fact_files_to_read(input_directory):
    objects = os.scandir(inputs_dir)
    fileList = []
    for obj in objects:
        if obj.is_file() and re.fullmatch('\d*\.xlsx', obj.name) is not None:
            fileList.append(inputs_dir+obj.name)
    return fileList

In [18]:
inputs_dir= 'Inputs/'
files = fact_files_to_read(inputs_dir)
files

['Inputs/334455.xlsx',
 'Inputs/334456.xlsx',
 'Inputs/334457.xlsx',
 'Inputs/334458.xlsx',
 'Inputs/334459.xlsx']

In [19]:
def facts_reader(files): 
    dfs= []
    for file in files: 
        df=pd.read_excel(file, parse_dates=[1])
        dfs.append(df)
    return dfs

In [20]:
fact_tables = facts_reader(files)

In [21]:
for fact_table in fact_tables:
    print(fact_table.columns)
    print('-------')
    print()   
#Typos in column names (whitespaces), also different names for some reason. And Odometer Mts and without Mts, Pos (lat, lon)
#and without (Lat, Long) - different formats? 
#Timestamp with format only in first file. Need to check the data and it's datatypes then.

Index(['ID', ' Timestamp (dd/mm/yyyy hh:mm:ss)', ' Ignition', ' Odometer',
       ' Pos (Lat, Long)', ' Fuel %age'],
      dtype='object')
-------

Index(['ID', ' Timestamp', ' Ignition', ' Odometer Mts', ' Pos', ' Fuel %age'], dtype='object')
-------

Index(['ID', ' Timestamp', ' Ignition', ' Odometer Mts', ' Pos', ' Fuel %age'], dtype='object')
-------

Index(['ID', ' Timestamp', ' Ignition', ' Odometer', ' Pos', ' Fuel %age'], dtype='object')
-------

Index(['ID', ' Timestamp', ' Ignition', ' Odometer', ' Pos', ' Fuel %age'], dtype='object')
-------

In [22]:
#Visually check data and data types. 
for fact_table in fact_tables:
    print(fact_table.head())
    print('-------------------')
    print()
    print('-------------------')
# See different column names. Needs to be fixed. 
#also - unexpected nulls in ignition for 334455, 334458 , odometer nulls, fueel %age.

       ID  Timestamp (dd/mm/yyyy hh:mm:ss)   Ignition   Odometer  \
0  334455              2024-01-01 15:00:00        1.0        NaN
1  334455              2024-01-01 15:04:00        NaN        NaN
2  334455              2024-01-01 15:07:00        NaN        NaN
3  334455              2024-01-01 15:09:00        NaN        NaN
4  334455              2024-01-01 15:12:00        NaN        NaN

         Pos (Lat, Long)   Fuel %age
0  (53.332025,-6.275705)       100.0
1   (53.331461,-6.30369)         NaN
2  (53.330896,-6.331675)         NaN
3   (53.330332,-6.35966)         NaN
4  (53.329767,-6.387645)         NaN
-------------------

-------------------
       ID           Timestamp   Ignition   Odometer Mts  \
0  334456 2024-01-04 10:00:00          1           1.48
1  334456 2024-01-04 10:02:08          1           2.96
2  334456 2024-01-04 10:02:37          1           4.44
3  334456 2024-01-04 10:03:51          1           5.92
4  334456 2024-01-04 10:04:34          1           7.40

                     Pos   Fuel %age
0    (54.098194,-8.4042)         100
1  (54.085815,-8.395915)          99
2  (54.073436,-8.387631)          98
3  (54.061056,-8.379346)          97
4  (54.048677,-8.371062)          96
-------------------

-------------------
       ID           Timestamp   Ignition   Odometer Mts  \
0  334457 2024-01-01 10:00:00          1           1.25
1  334457 2024-01-01 10:02:13          1           2.50
2  334457 2024-01-01 10:03:53          1           3.75
3  334457 2024-01-01 10:06:11          1           5.00
4  334457 2024-01-01 10:06:22          1           6.25

                     Pos   Fuel %age
0  (53.679305,-7.297454)       100.0
1  (53.670328,-7.308877)         NaN
2    (53.661352,-7.3203)         NaN
3  (53.652375,-7.331723)         NaN
4  (53.643399,-7.343146)         NaN
-------------------

-------------------
       ID           Timestamp   Ignition   Odometer                    Pos  \
0  334458 2024-01-01 15:00:00        1.0        NaN  (54.555905,-1.228622)
1  334458 2024-01-01 15:04:00        NaN        NaN  (54.535077,-1.234858)
2  334458 2024-01-01 15:07:00        NaN        NaN  (54.514249,-1.241094)
3  334458 2024-01-01 15:09:00        NaN        NaN   (54.493422,-1.24733)
4  334458 2024-01-01 15:12:00        NaN        NaN  (54.472594,-1.253566)

    Fuel %age
0       100.0
1         NaN
2         NaN
3         NaN
4         NaN
-------------------

-------------------
       ID           Timestamp   Ignition   Odometer                   Pos  \
0  334459 2024-01-05 12:00:00          1    4000.00  (52.052579,4.372771)
1  334459 2024-01-05 12:01:07          1    4001.65  (52.043929,4.392128)
2  334459 2024-01-05 12:01:38          1    4003.30  (52.035279,4.411486)
3  334459 2024-01-05 12:02:58          1    4004.95  (52.026629,4.430843)
4  334459 2024-01-05 12:04:08          1    4006.60  (52.017979,4.450201)

    Fuel %age
0        80.0
1        80.0
2        80.0
3        79.0
4        79.0
-------------------

-------------------

In [23]:
fact_tables[0].info() #some of pos are nulls, most of ignition, fueld, odometer values are nan. Need to fix or drop nulls in the future.
#assumption: pair of ID+timestamp = natural key.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                204 non-null    int64
 1    Timestamp (dd/mm/yyyy hh:mm:ss)  204 non-null    datetime64[ns]
 2    Ignition                         6 non-null      float64
 3    Odometer                         18 non-null     float64
 4    Pos (Lat, Long)                  202 non-null    object
 5    Fuel %age                        6 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 9.7+ KB

In [24]:
print(fact_tables[0][' Ignition'].dropna().values) #integers, but not so many. 
print('-------------')
print()
print('-------------')
print(fact_tables[0][' Odometer'].dropna().values)  # so,integers in reality, floats in table with  in the middle for some reason. 
print('-------------')
print()
print('-------------')
print(fact_tables[0][' Fuel %age'].dropna().values) #integers in reality, float in table, but not so many.

[1. 1. 0. 1. 1. 0.]
-------------

-------------
[ 15.  19.  41.   0.  20.  34.  66.  96. 118. 148. 149. 176. 210.   2.
  38.  74. 114. 134.]
-------------

-------------
[100.  80.  60.  40. 100.  80.]

In [25]:
fact_tables[0].info() #at least no nulls.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                204 non-null    int64
 1    Timestamp (dd/mm/yyyy hh:mm:ss)  204 non-null    datetime64[ns]
 2    Ignition                         6 non-null      float64
 3    Odometer                         18 non-null     float64
 4    Pos (Lat, Long)                  202 non-null    object
 5    Fuel %age                        6 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 9.7+ KB

In [26]:
print(fact_tables[1][' Ignition'].dropna().values) #ingegers
print('-------------')
print()
print('-------------')
print(fact_tables[1][' Odometer Mts'].dropna().values)  # floats 
print('-------------')
print()
print('-------------')
print(fact_tables[1][' Fuel %age'].dropna().values) #integers


#also observed all other files in the same way and...

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
-------------

-------------
[  1.48   2.96   4.44   5.92   7.4    8.88  10.36  11.84  13.32  14.8
  16.28  17.76  19.24  20.72  22.2   23.68  25.16  26.64  28.12  29.6
  31.08  32.56  34.04  35.52  37.    38.48  39.96  41.44  42.92  44.4
  45.88  47.36  48.84  50.32  51.8   53.28  54.76  56.24  57.72  59.2
  60.68  62.16  63.64  65.12  66.6   68.08  69.56  71.04  72.52  74.
  75.48  76.96  78.44  79.92  81.4   82.88  84.36  85.84  87.32  88.8
  90.28  91.76  93.24  94.72  96.2   97.68  99.16 100.64 102.12 103.6
 105.08 106.56 108.04 109.52 111.   112.48 113.96 115.44 116.92 118.4
 119.88 121.36 122.84 124.32 125.8  127.28 128.76 130.24 131.72 133.2
 134.68 136.16 137.64 139.12 140.6  142.08 143.56 145.04 146.52 148.
 149.48 150.96 152.44 153.92 155.4  156.88 158.36 159.84 161.32 162.8
 164.28 165.76 167.24 168.72 170.2  171.68 173.16 174.64 176.12 177.6
 179.08 180.56 182.04 183.52 185.   186.48 187.96 189.44 190.92 192.4
 193.88 195.36 196.84 198.32 199.8  201.28 202.76 204.24 205.72 207.2
 208.68 210.16 211.64 213.12 214.6  216.08 217.56 219.04 220.52 222.
 223.48 225.7  227.92 230.14 232.36 234.58 236.8  239.02 241.24 243.46
 245.68 247.9  250.12 252.34 254.56 256.78 259.   261.22 263.44 265.66
 267.88 270.1  272.32 274.54 276.76 278.98 281.2  283.42 285.64 287.86
 290.08 292.3  294.52 296.74 298.96 301.18 303.4  305.62 307.84 310.06
 312.28 314.5  316.72 318.94 321.16 323.38 325.6  327.82 330.04 332.26
 334.48 336.7  338.92 341.14 343.36 345.58 347.8  350.02 352.24 354.46
 356.68 358.9  361.12 363.34 365.56 367.78 370.   372.22 374.44 376.66
 378.88 381.1  383.32 385.54 387.76 389.98 392.2  394.42 396.64 398.86
 401.08 403.3  405.52 407.74 409.96 412.18 414.4  416.62 418.84 421.06
 423.28 425.5  427.72 429.94 432.16 434.38 436.6  438.82 441.04 443.26
 445.48 447.7 ]
-------------

-------------
[100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  90  89  88  87  86  85  84  83  82  81
  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63
  62  63  62  61  60  59  58  57  56  55  54  53  52  51  50  51  50  49
  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31
  30  29  28  27  26  25  24 100  99  98  97  96  95  94  93  92  91  90
  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72
  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54
  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36
  35  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20
  19  18  17  16  15  14  13  12  11  10   9   8   7   6   5   4   3   2]

### 2.1 Settings common columns names.

In [27]:
#... and now I can at least rename columns for all files and to convert datatypes to the most suitable
#wide type: if the data in one file in column_x is int and in another file is float - it'll be float, as a type, preserving 
#accuracy of both floats and ints. 
def columns_common_names(list_df, cols_list):
    for df in list_df: 
        df.columns = cols_list
    return None
# To convert cols to common datatypes, but after I can get rid of nans. 
def columns_common_datatypes(list_df, cols_convert_map):
    for df in list_df: 
        for col in cols_convert_map:
            df[col]=df[col].apply(cols_convert_map[col])
    return None

In [28]:
facts_cals = ['id', 'timestamp', 'ignition', 'odometer_m', 'pos', 'fuel_%']
convert_map = {
    'ignition': int, 
    'odometer_m': float, 
    'fuel_%': int    
}

columns_common_names(fact_tables, facts_cals)
#columns_common_datatypes(fact_tables, convert_map)

In [29]:
for fact in fact_tables: 
    print(sum(fact.duplicated(subset=['id', 'timestamp']))) 
#quite unexpected. Means - id+timestamp isn't unique and 
#we actually can recieve >1 events in the same second. Can be resolved either by bigger granularity scale (milliseconds)
#or to add events_sequence. Let's check if id+timestamp+ignition are unique.

2
0
2
2
2

In [30]:
for fact in fact_tables: 
    print(sum(fact.duplicated(subset=['id', 'timestamp', 'ignition'])))
#yes, at least it's totally unique. But as there are null values for ignition in some tables, makes sense to fill in the values
#based either on: previous(initial) state. Or: initial state + movement fact (to check delta of distance between rows, if 
#distance covered >0, then ignition =1, if =0 - then...well, then it can be either ignition = 0 as well as ignition = 1 (you still
#can leave the ignited car or stay in traffic jam.)). 

#I think we can believe ignition sensors work, but work in different way, so in some cases they're producing results constantly,
#and sometimes - ony during state changes.

0
0
0
0
0

In [31]:
first_sample = fact_tables[0]
first_sample['is_ignition_value']=first_sample['ignition'].apply(lambda x: 0 if pd.isna(x) else 1)#could be fill na straightforward
#but decided to implement through table functions

In [32]:
#first_sample['ignition_parts']= first_sample.sort_values('timestamp',  ascending=True).groupby(['id'])['ignition'].rank()



# first_sample['ignition_parts']=first_sample.sort_values('timestamp')['is_ignition_value'].cumsum()
# first_sample['ignition_filled'] = first_sample.sort_values('timestamp').groupby(['id','ignition_parts'])['ignition'].ffill()
# first_sample['ignition_filled'] = first_sample['ignition_filled'].apply(int)


# first_sample['prev_ignition'] = first_sample.sort_values('timestamp').groupby(['id'])\
# ['ignition_filled'].shift(1)
# first_sample['changed_ignition_status'] = first_sample['ignition_filled']!=first_sample['prev_ignition']
# first_sample['seq_number']=first_sample.sort_values(['timestamp', 'changed_ignition_status']).groupby(['id', 'timestamp']).cumcount()+1

# first_sample=first_sample[['id', 'timestamp', 'seq_number', 'ignition', 'ignition_filled', 'odometer_m', 'pos', 'fuel_%']]

### 2.2. Forward-filling ignition data

In [33]:
def order_and_ignition_fill (df): 
    df['is_ignition_value']=df['ignition'].apply(lambda x: 0 if pd.isna(x) else 1)
    df['ignition_parts']= df.sort_values('timestamp')['is_ignition_value'].cumsum()
    df['ignition_filled'] = df.sort_values('timestamp').groupby(['id','ignition_parts'])['ignition'].ffill()
    df['ignition_filled'] = df['ignition_filled'].apply(int)
    
    #Sequence for the events, so engine_off should always be after engine on sent in the same time. 
    df['prev_ignition'] = df.sort_values('timestamp').groupby(['id'])['ignition_filled'].shift(1)
    df['changed_ignition_status'] = df['ignition_filled']!=df['prev_ignition']
    df['seq_number']=df.sort_values(['timestamp', 'changed_ignition_status']).groupby(['id', 'timestamp']).cumcount()+1
    return None

In [34]:
def ignition_fill_all_tables(dflist):
    for df in dflist: 
        order_and_ignition_fill(df)
    return None

ignition_fill_all_tables(fact_tables)
for i, df in enumerate(fact_tables): 
    fact_tables[i]=fact_tables[i][['id', 'timestamp', 'seq_number', 'ignition', 'ignition_filled', 'odometer_m', 'pos', 'fuel_%']]

### 2.3. Forward filling the same fuel, odometer, geo for events occured the same second (last ignited moment+engine off)

In [35]:
##Also it's possible to fill in coordinates and fuel, as well as odometer metric (should be nearly the same in the same moment of time) for those stop engine events, which happened the same second we have data for 
##start engine:
def fill_in_pos_fuel_od_ign_off(df):
    df['pos']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['pos'].ffill()
    df['fuel_%']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['fuel_%'].ffill()
    df['odometer_m']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['odometer_m'].ffill()
    return None
    
def fill_same_second_fuel_pos_gaps(dflist):
    for df in dflist:
        fill_in_pos_fuel_od_ign_off(df)
    return None

In [36]:
fill_same_second_fuel_pos_gaps(fact_tables)

C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\2045819370.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pos']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['pos'].ffill()
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\2045819370.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_%']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['fuel_%'].ffill()
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\2045819370.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['odometer_m']=df.sort_values(['id','timestamp', 'seq_number']).groupby(['id', 'timestamp'])['odometer_m'].ffill()

In [37]:
for df in fact_tables:
    print(df.info())
    print()
    print('-------------------------------------')
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               204 non-null    int64
 1   timestamp        204 non-null    datetime64[ns]
 2   seq_number       204 non-null    int64
 3   ignition         6 non-null      float64
 4   ignition_filled  204 non-null    int64
 5   odometer_m       19 non-null     float64
 6   pos              204 non-null    object
 7   fuel_%           7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 12.9+ KB
None

-------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               252 non-null    int64
 1   timestamp        252 non-null    datetime64[ns]
 2   seq_number       252 non-null    int64
 3   ignition         252 non-null    int64
 4   ignition_filled  252 non-null    int64
 5   odometer_m       252 non-null    float64
 6   pos              252 non-null    object
 7   fuel_%           252 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 15.9+ KB
None

-------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               480 non-null    int64
 1   timestamp        480 non-null    datetime64[ns]
 2   seq_number       480 non-null    int64
 3   ignition         480 non-null    int64
 4   ignition_filled  480 non-null    int64
 5   odometer_m       480 non-null    float64
 6   pos              480 non-null    object
 7   fuel_%           24 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 30.1+ KB
None

-------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               355 non-null    int64
 1   timestamp        355 non-null    datetime64[ns]
 2   seq_number       355 non-null    int64
 3   ignition         7 non-null      float64
 4   ignition_filled  355 non-null    int64
 5   odometer_m       23 non-null     float64
 6   pos              355 non-null    object
 7   fuel_%           11 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 22.3+ KB
None

-------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               730 non-null    int64
 1   timestamp        730 non-null    datetime64[ns]
 2   seq_number       730 non-null    int64
 3   ignition         730 non-null    int64
 4   ignition_filled  730 non-null    int64
 5   odometer_m       730 non-null    float64
 6   pos              730 non-null    object
 7   fuel_%           730 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 45.8+ KB
None

-------------------------------------

### 2.4 Extracting geo data to recover then delta distance covered between two points.

In [38]:
#Okay, so ignition status is recovered. All the events have geo, but not all have odometer values. So, it makes sense to recover
#distance covered from geo. Will be alternative source of truth for o distance covered metric, as well, as a control metric for
#odometer. 

#And....let's put  latitude and longitude in separate columns too!

In [39]:
#fact_tables[0]['prev_pos']=fact_tables[0].sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['pos'].shift()

In [40]:
def geo_extractor (string_tuple):
    """Allows to extract latitude and longitude from 
    stringified tuples of pos column. 
    """
    lat = np.nan
    lon = np.nan
    try: 
        lat = ast.literal_eval(string_tuple)[0]
        lon = ast.literal_eval(string_tuple)[1]
    except ValueError:
        print('Input is not a tuple')
    return lat, lon
    
def cleared_geo_tuple (lat, lon):
    if not (np.isnan(lat)) and not(np.isnan(lon)):
        return (lat,lon)
    else: 
        return np.nan
    

def prev_pos (df): 
    """Creates geo-cols in dataframe"""
    df['prev_pos'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['pos'].shift()
    df['current_lat'] = df['pos'].apply(lambda x: geo_extractor(x)[0])
    df['current_lon'] = df['pos'].apply(lambda x: geo_extractor(x)[1])
    df['prev_lat'] = df['prev_pos'].apply(lambda x: geo_extractor(x)[0])
    df['prev_lon'] = df['prev_pos'].apply(lambda x: geo_extractor(x)[1])
    df['current_loc']= df.apply(lambda x: cleared_geo_tuple(x['current_lat'], x['current_lon']), axis=1)
    df['prev_loc'] = df.apply(lambda x: cleared_geo_tuple(x['prev_lat'], x['prev_lon']), axis=1)
    #df['current_lon'] = df['pos'].apply(lambda x: ast.literal_eval(x)[1])
    #df['prev_lat'] = df['prev_pos'].apply(lambda x: ast.literal_eval(x)[0])
    #df['prev_lon'] = df['[prev_pos'].apply(lambda x: ast.literal_eval(x)[1])
    
    #df['col_3'] = df.apply(lambda x: get_sublist(x.col_1, x.col_2), axis=1)

    return None
    
def coordinates_parser(df_list): 
    """Iterates through the list of DFs to apply functions"""
    for df in df_list: 
        prev_pos(df)
    return None

In [41]:
coordinates_parser(fact_tables)

C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev_pos'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['pos'].shift()
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_lat'] = df['pos'].apply(lambda x: geo_extractor(x)[0])
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_lon'] = df['pos'].apply(lambda x: geo_extractor(x)[1])
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev_pos'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['pos'].shift()
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_lat'] = df['pos'].apply(lambda x: geo_extractor(x)[0])
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\1977845144.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_lon'] = df['pos'].apply(lambda x: geo_extractor(x)[1])

Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple
Input is not a tuple

### 2.5 Geo distances extraction for separate tables

In [42]:
#Let's calculate distance by gps, as there is no gaps for gps location data. 

def gps_distance_for_all_tables (df_list):
    """Takes all dataframes and calculates gps distance for all of them"""
    def gps_distance_calc(curr_loc, prev_loc, index_of_df):
        try:
            #if not(np.isnan(curr_loc) or np.isnan(prev_loc):
            dst = distance.distance(curr_loc, prev_loc).m
        except ValueError: 
            print(f'Distance variable(s) is/are incorrect in {index_of_df} df')
            dst = np.nan
        return dst
    for i, df in enumerate(df_list): 
        df['gps_distance'] = df.sort_values(['id', 'timestamp']).apply(lambda x: gps_distance_calc(x['current_loc'], x['prev_loc'], i), axis= 1)
    return None 





#fact_tables[0]['distance'] = fact_tables[0].sort_values(['id','timestamp']).apply(lambda x: distance_calc(x['current_loc'], x['prev_loc']), axis= 1)

In [43]:
# def gps_distance_calc(curr_loc, prev_loc):
#     dst = 0
#     try:
#         #if not(np.isnan(curr_loc) or np.isnan(prev_loc.all())):
#         dst = distance.distance(curr_loc, prev_loc).m
#     except ValueError: 
#         print('Distance variable(s) is/are incorrect')
#     return dst


# for i,df in enumerate(fact_tables): 
#     print(i)
#     df['gps_distance'] = df.sort_values(['id', 'timestamp']).apply(lambda x: gps_distance_calc(x['current_loc'], x['prev_loc']), axis= 1)
    
    
#warning can tell, that coordinates aren't correct at all.

In [44]:
gps_distance_for_all_tables(fact_tables)
#warning occured because of df #2, but it's okay, as values of distance will be nulls 
#there in this case, will be handled later.

Distance variable(s) is/are incorrect in 0 df
Distance variable(s) is/are incorrect in 1 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 2 df
Distance variable(s) is/are incorrect in 3 df
Distance variable(s) is/are incorrect in 4 df

C:\Users\Yevhen\AppData\Roaming\Python\Python311\site-packages\geopy\point.py:472: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

### 2.6 The same for odometer, but only for those rows who have previous data.

In [45]:
#lets'calculate distance between rows for  Odometer
def odometer_distance_for_all_tables (df_list):
    """Takes all dataframes and calculates odometer distance for all of them"""
    def odometer_distance_calc(curr_od, prev_od, index_of_df):
        try:
            #if not(np.isnan(curr_loc) or np.isnan(prev_loc.all())):
            dst = (curr_od - prev_od)*1000 #to get distance in meters
        except ValueError: 
            print(f'Distance variable(s) is/are incorrect in {index_of_df} df')
        return dst
    
    def prev_odometer(df):
        df['prev_od'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['odometer_m'].shift()
        return None 
    
    for i, df in enumerate(df_list): 
        prev_odometer(df)
        df['od_distance'] = df.sort_values(['id', 'timestamp']).apply(lambda x: odometer_distance_calc(x['odometer_m'], x['prev_od'], i), axis= 1)
    return None

In [46]:
odometer_distance_for_all_tables(fact_tables)

### 2.7 Timedelta (in seconds) between records:

In [47]:
#Let's calculate time gaps between records in seconds: 
def timediff_corr_rows(df_list):
    """Takes all dataframes and calculates timedelta between sequence of rows for them"""
    def timediff_curr_prev(timestamp, prev_timestamp, index_of_df):
        try:
            #if not(np.isnan(curr_loc) or np.isnan(prev_loc.all())):
            timediff = pd.Timedelta(timestamp - prev_timestamp).total_seconds() #to get time in seconds
        except ValueError: 
            print(f'Distance variable(s) is/are incorrect in {index_of_df} df')
        return timediff
    
    def prev_timestamp(df):
        df['prev_timestamp'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['timestamp'].shift()
        return None 
    
    for i, df in enumerate(df_list): 
        prev_timestamp(df)
        df['timediff'] = df.sort_values(['id', 'timestamp']).apply(lambda x: timediff_curr_prev(x['timestamp'], x['prev_timestamp'], i), axis= 1)
    return None

In [48]:
timediff_corr_rows(fact_tables)

In [49]:
fact_tables[0][['timestamp', 'timediff']]

              timestamp  timediff
0   2024-01-01 15:00:00       NaN
1   2024-01-01 15:04:00     240.0
2   2024-01-01 15:07:00     180.0
3   2024-01-01 15:09:00     120.0
4   2024-01-01 15:12:00     180.0
..                  ...       ...
199 2024-01-02 10:24:00     120.0
200 2024-01-02 10:26:00     120.0
201 2024-01-02 10:27:00      60.0
202 2024-01-02 10:28:00      60.0
203 2024-01-02 10:28:00       0.0

[204 rows x 2 columns]

### 2.8 And let's created trips.

In [50]:
#New Rides maker:

#Definition of the NEW trip = when car is ignited without preceding ignition or with preceding engine-off and spent in this 
#switched off state more than half an hour (or....well....it's discussable). 
trips_timeout = 30*60; #in seconds


def trips(df_list):
    """Takes all dataframes and creates trips division in them"""
    def new_trips_flager(timediff, curr_ign, prev_ign, index_of_df):
        new_trip = 0
        if (timediff > trips_timeout and curr_ign == 1 and prev_ign == 0) or (np.isnan(timediff) and np.isnan(prev_ign) and
                                                                             curr_ign == 1): 
            return 1 
        else: 
            return 0 
#         except ValueError: 
#             print(f'Distance variable(s) is/are incorrect in {index_of_df} df')
    
    def prev_ign_status(df):
        df['prev_fill_ignition'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['ignition_filled'].shift()
        return None 
    
    for i, df in enumerate(df_list): 
        prev_ign_status(df)
        df['new_trip'] = df.sort_values(['id', 'timestamp']).apply(lambda x: new_trips_flager(x['timediff'], 
                                                                   x['ignition_filled'], x['prev_fill_ignition'], i), axis= 1)
    return None 


#Rides seq_numbers (and ids for this batches): 
def trips_seq(df_list): 
    for df in df_list: 
        df['trip_id'] = df.sort_values(['id', 'timestamp', 'seq_number']).groupby('id')['new_trip'].cumsum()
    return None

In [51]:
trips(fact_tables)
trips_seq(fact_tables)

In [52]:
fact_tables[0].columns

Index(['id', 'timestamp', 'seq_number', 'ignition', 'ignition_filled',
       'odometer_m', 'pos', 'fuel_%', 'prev_pos', 'current_lat', 'current_lon',
       'prev_lat', 'prev_lon', 'current_loc', 'prev_loc', 'gps_distance',
       'prev_od', 'od_distance', 'prev_timestamp', 'timediff',
       'prev_fill_ignition', 'new_trip', 'trip_id'],
      dtype='object')

### 2.9 Creation of resultive table (from all batches)

In [53]:
def intermidiate_resultative_table(df_list): 
    common_table = None
    for i, df in enumerate(fact_tables): 
        fact_tables[i]=fact_tables[i][['id', 'trip_id', 'timestamp', 'seq_number', 'timediff',
                                   'ignition_filled', 'odometer_m', 'prev_od', 'od_distance',  'current_loc', 'prev_loc',
                                   'gps_distance', 'fuel_%']]
        fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state', 
                                  'odometer_m':'curr_od_km', 'prev_od':'prev_od_km' 
                                  }, inplace=True)
        if common_table is None: 
            common_table = fact_tables[i].copy()
        else: 
            common_table = pd.concat([common_table, fact_tables[i]], copy=True)
    return common_table

In [54]:
common_table = intermidiate_resultative_table(fact_tables)

C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\743787015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state',
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\743787015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state',
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\743787015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state',
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\743787015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state',
C:\Users\Yevhen\AppData\Local\Temp\ipykernel_15648\743787015.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_tables[i].rename(columns={'seq_number':'event_sec_id', 'timediff': 'timespent', 'ignition_filled':'ignition_state',

In [55]:
common_table.columns

Index(['id', 'trip_id', 'timestamp', 'event_sec_id', 'timespent',
       'ignition_state', 'curr_od_km', 'prev_od_km', 'od_distance',
       'current_loc', 'prev_loc', 'gps_distance', 'fuel_%'],
      dtype='object')

In [56]:
#fact_tables[2]['gps_distance'] = fact_tables[2].sort_values(['id', 'timestamp']).apply(lambda x: distance_calc(x['current_loc'], x['prev_loc']), axis= 1)

In [57]:
##Need an id for sections in one trip: 
common_table['trip_section'] = common_table.sort_values(['id', 'trip_id','timestamp', 'event_sec_id']).groupby(['id', 'trip_id'])['gps_distance'].cumcount()
common_table.loc[common_table.trip_section==0, 'timespent']=0

In [58]:
sample = common_table.copy()

In [59]:
sample

,id,trip_id,timestamp,event_sec_id,timespent,ignition_state,curr_od_km,prev_od_km,od_distance,current_loc,prev_loc,gps_distance,fuel_%,trip_section
0,334455,1,2024-01-01 15:00:00,1,0.0,1,NaN,NaN,NaN,"(53.332025, -6.275705)",NaN,NaN,100.0,0
1,334455,1,2024-01-01 15:04:00,1,240.0,1,NaN,NaN,NaN,"(53.331461, -6.30369)","(53.332025, -6.275705)",1865.458790,NaN,1
2,334455,1,2024-01-01 15:07:00,1,180.0,1,NaN,NaN,NaN,"(53.330896, -6.331675)","(53.331461, -6.30369)",1865.487137,NaN,2
3,334455,1,2024-01-01 15:09:00,1,120.0,1,NaN,NaN,NaN,"(53.330332, -6.35966)","(53.330896, -6.331675)",1865.507988,NaN,3
4,334455,1,2024-01-01 15:12:00,1,180.0,1,NaN,NaN,NaN,"(53.329767, -6.387645)","(53.330332, -6.35966)",1865.536334,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,334459,3,2024-01-07 19:02:53,1,69.0,1,5107.81,5105.95,1860.0,"(50.145249, 8.641091)","(50.15498, 8.619314)",1895.818315,51.0,196
726,334459,3,2024-01-07 19:03:34,1,41.0,1,5109.67,5107.81,1860.0,"(50.135518, 8.662869)","(50.145249, 8.641091)",1896.135262,51.0,197
727,334459,3,2024-01-07 19:04:39,1,65.0,1,5111.53,5109.67,1860.0,"(50.125787, 8.684646)","(50.135518, 8.662869)",1896.334799,51.0,198
728,334459,3,2024-01-07 19:05:30,1,51.0,1,5113.39,5111.53,1860.0,"(50.116055, 8.706423)","(50.125787, 8.684646)",1896.656507,50.0,199
729,334459,3,2024-01-07 19:05:57,1,27.0,1,5115.25,5113.39,1860.0,"(50.106324, 8.7282)","(50.116055, 8.706423)",1896.851231,50.0,200

In [60]:
sample

,id,trip_id,timestamp,event_sec_id,timespent,ignition_state,curr_od_km,prev_od_km,od_distance,current_loc,prev_loc,gps_distance,fuel_%,trip_section
0,334455,1,2024-01-01 15:00:00,1,0.0,1,NaN,NaN,NaN,"(53.332025, -6.275705)",NaN,NaN,100.0,0
1,334455,1,2024-01-01 15:04:00,1,240.0,1,NaN,NaN,NaN,"(53.331461, -6.30369)","(53.332025, -6.275705)",1865.458790,NaN,1
2,334455,1,2024-01-01 15:07:00,1,180.0,1,NaN,NaN,NaN,"(53.330896, -6.331675)","(53.331461, -6.30369)",1865.487137,NaN,2
3,334455,1,2024-01-01 15:09:00,1,120.0,1,NaN,NaN,NaN,"(53.330332, -6.35966)","(53.330896, -6.331675)",1865.507988,NaN,3
4,334455,1,2024-01-01 15:12:00,1,180.0,1,NaN,NaN,NaN,"(53.329767, -6.387645)","(53.330332, -6.35966)",1865.536334,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,334459,3,2024-01-07 19:02:53,1,69.0,1,5107.81,5105.95,1860.0,"(50.145249, 8.641091)","(50.15498, 8.619314)",1895.818315,51.0,196
726,334459,3,2024-01-07 19:03:34,1,41.0,1,5109.67,5107.81,1860.0,"(50.135518, 8.662869)","(50.145249, 8.641091)",1896.135262,51.0,197
727,334459,3,2024-01-07 19:04:39,1,65.0,1,5111.53,5109.67,1860.0,"(50.125787, 8.684646)","(50.135518, 8.662869)",1896.334799,51.0,198
728,334459,3,2024-01-07 19:05:30,1,51.0,1,5113.39,5111.53,1860.0,"(50.116055, 8.706423)","(50.125787, 8.684646)",1896.656507,50.0,199
729,334459,3,2024-01-07 19:05:57,1,27.0,1,5115.25,5113.39,1860.0,"(50.106324, 8.7282)","(50.116055, 8.706423)",1896.851231,50.0,200

### 2.10 Extracting distance covered from odometer, even if it reports only once per long period

In [61]:
#Function to set distance, find speed and find

def speed_and_distance(df_input): 
    """Function to extract corrected distance and to find speed (to make checks)"""
    
    speed_limit = 250_000/3600 #let's set some speed, over which we don't believe over vehiecles can go. 
    
    def distance_choicer(df_row):
        "To choose distance according to conditions"
        dist = 0 
        if df_row['odometer_valuelability'] and df_row['od_distance']>=0 and not(np.isnan(df_row['od_distance'])):
            #and df_row['od_speed'] <= speed_limit:
                dist = df_row['od_distance']
        elif df_row['gps_distance']>=0 and df_row['gps_speed']>=0 and  not(np.isnan(df_row['gps_distance'])):
              #and df_row['gps_speed']<= speed_limit:
                dist = df_row['gps_distance']
        return dist

    def speed_choicer(df_row):
        "To find speed according to rules"
        spd = 0 
        if df_row['odometer_valuelability'] and df_row['od_distance']>=0 and not(np.isnan(df_row['od_speed']))\
            and df_row['od_speed'] <= speed_limit:
                spd = df_row['od_speed']
        elif df_row['gps_distance']>=0 and df_row['gps_speed']>=0 and  not(np.isnan(df_row['gps_speed']))\
              and df_row['gps_speed']<= speed_limit:
                spd = df_row['gps_speed']
        return spd
    
    df = df_input.copy()
    groupby= df.sort_values(['id', 'trip_id','timestamp', 'event_sec_id']).groupby(['id', 'trip_id'], as_index=False)\
                ['curr_od_km']
    first_val=groupby.first()
    min_val = groupby.min()


    min_val=min_val.merge(first_val, on=['id', 'trip_id'])
    min_val['odometer_valuelability'] = min_val['curr_od_km_x'] == min_val['curr_od_km_y']
    df['trip_section'] = df.sort_values(['id', 'trip_id','timestamp', 'event_sec_id']).groupby(['id', 'trip_id'])['gps_distance'].cumcount()
    #time_commulative to find avg speed then. 
    
    min_val=min_val[['id', 'trip_id', 'odometer_valuelability']]

    df=df.merge(min_val, on = ['id', 'trip_id'], how='left')
    #df['trip_section'] = df.sort_values(['id', 'trip_id','timestamp', 'event_sec_id']).groupby(['id', 'trip_id'])['gps_distance'].cumcount()

    
    
    df['is_odometer'] = df.apply(lambda x:0 if np.isnan(x['curr_od_km']) or x['ignition_state']==0 else 1 , axis= 1)\
    #     .groupby(['id', 'trip_id']).cumsum()
    df['odometer_group']=df.groupby(['id', 'trip_id'])['is_odometer'].cumsum()
    
    od_values=df.groupby(['id', 'trip_id', 'odometer_group'], as_index=False)['curr_od_km'].max() 
    od_values=od_values.loc[od_values['odometer_group'] > 0]
    od_values['od_distance']=od_values.sort_values(['id','trip_id','odometer_group']).groupby(['id', 'trip_id'])['curr_od_km']\
                                .transform(lambda x:( x - x.shift(1))*1000)# ['od_diff']
    #shift(-1)
    timecum = df.loc[(df['trip_section']>0)&(df['is_odometer']!= 1)&(df['odometer_group']!=0)]\
                .groupby(['id', 'trip_id', 'odometer_group'], as_index=False)['timespent'].sum()
    timeFirst = df.loc[(df['trip_section']!=0)&(df['is_odometer']== 1)&(df['odometer_group']!=0)]\
                .groupby(['id', 'trip_id', 'odometer_group'], as_index=False)['timespent'].max()
    timeFirst.rename(columns = {'timespent':'quant_time'}, inplace=True)
    timeFirst=timeFirst.merge(timecum, on=['id', 'trip_id', 'odometer_group'], how='outer').fillna(0)
    timeFirst.sort_values(['id', 'trip_id', 'odometer_group'], inplace=True)
    timeFirst['prev_timecum']=timeFirst.sort_values(['id', 'trip_id', 'odometer_group']).groupby(['id', 'trip_id'])['timespent'].shift(1)
    timeFirst['ttr']= timeFirst.quant_time+timeFirst.prev_timecum
    timeFirst= timeFirst[['id', 'trip_id', 'odometer_group', 'ttr']]
    
    od_values=od_values.merge(timecum, on = ['id', 'trip_id', 'odometer_group'], how = 'left')
    od_values=od_values.merge(timeFirst, on=['id', 'trip_id', 'odometer_group'])

    od_values['avg_od_speed']=od_values['od_distance']/od_values['ttr']
    od_values['avg_od_speed']=od_values['avg_od_speed'].apply(lambda x: np.nan if x<0 else x)
    od_values['avg_od_speed']=od_values['avg_od_speed'].shift(-1)
    od_values= od_values[['id', 'trip_id', 'odometer_group', 'avg_od_speed']]
    od_values.drop_duplicates(subset=['id', 'trip_id', 'odometer_group'], inplace=True)
    df=df.merge(od_values, on=['id','trip_id', 'odometer_group'], how = 'left')
    
    
    #shifting speeds
    s=df.loc[(df.is_odometer==1)]['avg_od_speed'].shift(1)
    df=df.join(s, how='left', rsuffix='_2')
    df['avg_od_speed']= df.apply(lambda x: x['avg_od_speed'] if x['is_odometer']==0 else x['avg_od_speed_2'] , axis=1)
    #speeds for gps and odemeter
    df['od_speed']=df['od_distance']/df['timespent']
    df['gps_speed']=df['gps_distance']/df['timespent']
    
    df.loc[df.trip_section==0, ['gps_distance']]=0
    df.loc[df.trip_section==0, ['od_distance']]=0
    df.loc[df.trip_section==0, ['avg_od_speed']]=0
    df.loc[df.trip_section==0, ['od_speed']]=0
    df.loc[df.trip_section==0, ['gps_speed']]=0
    
   


    df['distance'] = df.apply(distance_choicer, axis=1)
    df['speed'] = df.apply(speed_choicer, axis= 1)
    df=df[['id', 'trip_id', 'timestamp', 'event_sec_id', 'timespent',
       'ignition_state', 'curr_od_km', 'prev_od_km', 'od_distance',
       'current_loc', 'prev_loc', 'gps_distance', 'fuel_%', 'trip_section',
       'odometer_valuelability', 'is_odometer', 'odometer_group',
       'avg_od_speed', 'avg_od_speed_2', 'od_speed', 'gps_speed', 'distance',
       'speed']]
    df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'avg_od_speed']= 0
    df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'avg_od_speed_2'] = 0
    df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'od_speed'] = 0
    df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'gps_speed'] = 0
    #df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'distance'] = 0 - no need. Sensor probably can send data 
    #like sequence of batches, doesn't mean vehicle covered this distance in few secs. 
    df.loc[(df.gps_speed>speed_limit) & (df.od_speed>speed_limit),'speed'] = 0


    df.drop(df.loc[df.event_sec_id > 1].index, inplace=True)
    df = df[['id', 'trip_id', 'trip_section', 'timestamp', 'timespent', 
                 'current_loc', 'prev_loc', 'fuel_%', 'speed', 'distance', 'avg_od_speed', 'gps_speed']]
    return df

In [62]:
sample1=speed_and_distance(common_table)

### 2.11 Clearing fuel data

In [63]:
def fuel_cleaning(df_input):
    """To clear fuel change in table"""
    
    def fuel_percentage(df_row):
        "To put avg fuel change in table"
        res= np.nan
        if df_row['is_fuel'] == 1:
            res=df_row['fuel_%']
        elif df_row['fuel_%_per_timespent'] >=0: 
            res=(-1)*df_row['timespent']*df_row['fuel_%_per_timespent']
        return res

    df=df_input.copy()
    df['is_fuel'] =df.apply(lambda x:0 if np.isnan(x['fuel_%']) else 1, axis= 1)
    df['fuel_seq']=df.sort_values(['id', 'trip_id', 'trip_section'])\
                            .groupby(['id', 'trip_id'])['is_fuel'].cumsum()
    df['fuel_%'] = df.sort_values(['id', 'trip_id', 'timestamp']).groupby(['id', 'trip_id'])['fuel_%']\
            .fillna(method='ffill')
    df_groupby = df.groupby(['id', 'trip_id', 'fuel_seq', 'fuel_%'], as_index=False).agg({ 'trip_section': 'nunique', 
                                                                                    'distance': 'sum', 
                                                                                    'timespent': 'sum'
                                                                             })
    df_groupby['delta_fuel'] = df_groupby.sort_values(['id', 'trip_id', 'fuel_seq'])\
                                .groupby(['id', 'trip_id'])['fuel_%'].transform(lambda x: x - x.shift(-1))
    
    df_groupby['fuel_%_per_timespent'] = df_groupby.delta_fuel/df_groupby.timespent
    df_groupby['fuel_%_per_distance'] = df_groupby.delta_fuel/df_groupby.distance
    df_groupby= df_groupby[['id', 'trip_id', 'fuel_seq', 'delta_fuel', 'fuel_%_per_distance', 'fuel_%_per_timespent']]
    df=df.merge(df_groupby, on=['id', 'trip_id', 'fuel_seq'], how='left')
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    
    #Calculate fuel percents for many rows where there is none
    df['fuel_perc_change']= df.apply(fuel_percentage, axis=1)
    
    #Just to fill in the table (forward+some calculation)

    df['fuel_perc_change']=df.sort_values(['id', 'trip_id', 'timestamp', 'fuel_seq'])\
                                .groupby(['id', 'trip_id', 'fuel_seq'])['fuel_perc_change'].cumsum()
    df['fuel_spent%_per_time_spent']= df['fuel_%_per_timespent'].apply(lambda x: x if x>=0 else np.nan)
    df['fuel_spent%_per_time_spent']= df.groupby('id')['fuel_spent%_per_time_spent'].fillna(method='ffill')
    df['spent_fuel%'] = df['fuel_spent%_per_time_spent']*df['timespent']
    df['spent_fuel%']=df['spent_fuel%'].shift(1)
    df['spent_fuel%']=df['spent_fuel%'].fillna(0)
    df['delta_fuel']=df['delta_fuel'].fillna(0)
    #df.replace([np.inf, -np.inf], np.nan, inplace=True)
    
    return df

In [64]:
test = fuel_cleaning(sample1)

proved_fuel_spent = test.loc[test.delta_fuel >= 0].groupby(['id', 'trip_id', 'delta_fuel', 'fuel_seq'], \
                                                                  as_index=False)['fuel_perc_change'].count()
proved_fuel_spent= proved_fuel_spent.groupby(['id', 'trip_id'], as_index=False)['delta_fuel'].sum()

proved_fuel_refill =  test.loc[test.delta_fuel < 0].groupby(['id', 'trip_id', 'delta_fuel', 'fuel_seq'], as_index=False)['fuel_perc_change'].count()
proved_fuel_refill =  proved_fuel_refill.groupby(['id', 'trip_id'], as_index=False).agg({'delta_fuel': 'sum', 'fuel_seq': 'count'})
proved_fuel_refill['delta_fuel'] = proved_fuel_refill['delta_fuel']*-1

In [65]:
proved_fuel_refill

       id  trip_id  delta_fuel  fuel_seq
0  334455        1        60.0         1
1  334456        1       148.0         5
2  334457        1        60.0         1
3  334457        2       188.0         2
4  334458        1        60.0         1
5  334459        2        81.0         1

In [66]:
test['first_location'] = test.groupby(['id', 'trip_id'])['current_loc'].transform('first')

In [67]:
def distance_between_first_and_last(df):
    dst = 0
    try:
        dst = distance.distance(df['current_loc'] , df['first_location']).m
    except ValueError: 
        print("GeoData isn't correct")
    return dst

In [68]:
test['max_distance_a'] = test.apply(distance_between_first_and_last, axis=1)

C:\Users\Yevhen\AppData\Roaming\Python\Python311\site-packages\geopy\point.py:472: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

GeoData isn't correct
GeoData isn't correct
GeoData isn't correct

In [69]:
farpoints = test.groupby(['id', 'trip_id'], as_index=False)['max_distance_a'].max()
farpoints = farpoints.merge(test, left_on=['id', 'trip_id', 'max_distance_a'], 
                             right_on=['id', 'trip_id', 'max_distance_a'])[['id', 'trip_id', 
                                                                            'max_distance_a', 'current_loc', 'timestamp']]
farpoints.drop_duplicates(subset = ['id', 'trip_id', 'max_distance_a'], inplace=True)

In [70]:
last_points = test.groupby(['id', 'trip_id'], as_index=False)['timestamp'].max()
last_points = last_points.merge(test, left_on=['id', 'trip_id', 'timestamp'], 
                             right_on=['id', 'trip_id', 'timestamp'])[['id', 'trip_id', 
                                                                       'max_distance_a', 'current_loc', 'timestamp']]

In [71]:
last_points.rename(columns = {'max_distance_a': 'distination_distance_m', 'current_loc':'destination', 'timestamp': 'finish'},
                  inplace=True)
farpoints.rename(columns={'max_distance_a': 'farest_point_m', 'current_loc':'farest_geo', 'timestamp': 'time_reached'}, 
                inplace=True)

In [72]:
points=farpoints.merge(last_points, on=['id', 'trip_id'])
points.drop_duplicates(subset=['id','trip_id'], inplace = True)

In [73]:
test= test[['id', 'trip_id', 'timestamp', 'timespent', 'speed', 'distance',
           'avg_od_speed', 'gps_speed', 'spent_fuel%', 'first_location']]

test.columns = ['id', 'trip_id', 'timestamp', 'timespent_s', 'speed_m_s', 'distance_m', 'avg_od_speed_m_s', 'gps_speed_m_s', 
               'spent_fuel%', 'first_location']

In [74]:
test['timespent_s']=test['timespent_s'].fillna(0)
test['timespent_s']=test['timespent_s'].apply(int)
test['speed_m_s'] = test['speed_m_s'].apply(lambda x: round(x, 2))
test['distance_m']  = test['distance_m'].apply(int)
test['avg_od_speed_m_s'] = test['avg_od_speed_m_s'].apply(lambda x: round(x, 2))
test['gps_speed_m_s'] = test['gps_speed_m_s'].apply(lambda x: round(x,2))
test['spent_fuel%'] = test['spent_fuel%'].apply(lambda x: round(x,2))

In [75]:
##This table is ready. 
test.to_csv('Outputs/final_table_of_facts.csv')

In [76]:
##Dimension tables as well: 
accounts.to_csv('Outputs/accounts_clear.csv')
assets.to_csv('Outputs/assets_clear.csv')

## Final! Aggregation:

In [77]:
##Trips level_first: 
trips_table=test.groupby(['id', 'trip_id'], as_index=False).agg(start_trip=('timestamp', 'min'),  end_trip=('timestamp', 'max'), 
                                                duration_s=('timespent_s', 'sum'), total_distance_m=('distance_m', 'sum'), 
                                                median_od_speed_m_s=('avg_od_speed_m_s', 'median'), 
                                                median_gps_speed_m_s=('gps_speed_m_s', 'median'),
                                                cumulative_fuel_spent_assump_pc=('spent_fuel%', 'sum'), 
                                                starting_point=('first_location', 'min')
                                          )

In [78]:
trips_table['start_date']=trips_table['start_trip'].dt.date

In [79]:
trips_table=trips_table.merge(proved_fuel_spent, on=['id', 'trip_id'], how='left')
trips_table.rename(columns={'delta_fuel':'fuel_spent_%'}, inplace=True)

In [80]:
trips_table=trips_table.merge(proved_fuel_refill, on=['id', 'trip_id'], how='left')

In [81]:
trips_table[['fuel_spent_%','delta_fuel','fuel_seq']]=trips_table[['fuel_spent_%','delta_fuel','fuel_seq']].fillna(0)
trips_table['fuel_spent_%']=trips_table['fuel_spent_%'].apply(int)
trips_table['delta_fuel']= trips_table['delta_fuel'].apply(int)
trips_table['fuel_seq']=trips_table['fuel_seq'].apply(int)

In [82]:
#quick check of 4 refills during trip #1 with id = 334456

In [83]:
check=fuel_cleaning(sample1)
check = check.loc[(check.id == 334456) &(check.trip_id==1)]
check = check[['id', 'trip_id', 'timestamp', 'fuel_%']]

In [84]:
check['refill']=check.sort_values('timestamp')['fuel_%'].transform(lambda x: x - x.shift(1))

In [85]:
check.loc[check.refill>0]#okaaaay, so 3 times it was a change by 1%. Let's manually (is this still script though? But just once doesn't count...) just fix that.

         id  trip_id           timestamp  fuel_%  refill
282  334456        1 2024-01-04 11:58:27    90.0    69.0
311  334456        1 2024-01-04 12:37:27    63.0     1.0
325  334456        1 2024-01-04 12:53:42    51.0     1.0
353  334456        1 2024-01-04 14:30:00   100.0    76.0
419  334456        1 2024-01-04 15:31:38    36.0     1.0

In [86]:
trips_table.loc[(trips_table.id == 334456) & (trips_table.trip_id)==1, 'fuel_seq'] = trips_table.loc[(trips_table.id == 334456) & (trips_table.trip_id)==1, 'fuel_seq'] -3
trips_table.loc[(trips_table.id == 334456) & (trips_table.trip_id)==1, 'delta_fuel'] = trips_table.loc[(trips_table.id == 334456) & (trips_table.trip_id)==1, 'delta_fuel'] -3

In [87]:
points

,id,trip_id,farest_point_m,farest_geo,time_reached,distination_distance_m,destination,finish
0,334455,1,186656.627296,"(53.275578, -9.074217)",2024-01-01 19:53:00,186656.627296,"(53.275578, -9.074217)",2024-01-01 19:53:00
1,334455,2,186656.627296,"(53.332025, -6.275705)",2024-01-02 10:28:00,186656.627296,"(53.332025, -6.275705)",2024-01-02 10:28:00
2,334456,1,222725.499354,"(52.241316, -7.161516)",2024-01-04 13:31:03,0.000000,"(54.098194, -8.4042)",2024-01-04 16:02:11
3,334457,1,252319.167553,"(51.883981, -9.582074)",2024-01-01 14:31:32,252319.167553,"(51.883981, -9.582074)",2024-01-01 14:31:32
4,334457,2,230383.566381,"(54.198514, -9.925246)",2024-01-02 14:21:48,0.000000,"(53.969733, -6.426101)",2024-01-02 17:02:16
5,334458,1,235464.401183,"(52.473127, -1.852234)",2024-01-01 19:53:00,235464.401183,"(52.473127, -1.852234)",2024-01-01 19:53:00
6,334458,2,235464.401183,"(54.555905, -1.228622)",2024-01-02 10:28:00,160616.400501,"(51.500926, -0.123827)",2024-01-02 12:08:36
7,334459,1,374115.015207,"(50.106324, 8.7282)",2024-01-05 15:28:48,374115.015207,"(50.106324, 8.7282)",2024-01-05 15:28:48
8,334459,2,374115.015207,"(52.052579, 4.372771)",2024-01-06 18:05:37,374115.015207,"(52.052579, 4.372771)",2024-01-06 18:05:37
9,334459,3,374115.015207,"(50.106324, 8.7282)",2024-01-07 19:05:57,374115.015207,"(50.106324, 8.7282)",2024-01-07 19:05:57

In [88]:
trips_table.rename(columns={'delta_fuel': 'refueled_%', 'fuel_seq':'refuiled_times'}, inplace=True)
trips_table = trips_table.merge(points, on =['id', 'trip_id'], how='left' )[['id', 'trip_id', 'start_trip', 'end_trip', 'duration_s',
       'total_distance_m', 'median_od_speed_m_s', 'median_gps_speed_m_s',
       'cumulative_fuel_spent_assump_pc', 'starting_point', 'start_date',
       'fuel_spent_%', 'refueled_%', 'refuiled_times', 'farest_point_m', 'farest_geo', 'time_reached',
       'distination_distance_m', 'destination' ]]

In [89]:
trips_table.columns

Index(['id', 'trip_id', 'start_trip', 'end_trip', 'duration_s',
       'total_distance_m', 'median_od_speed_m_s', 'median_gps_speed_m_s',
       'cumulative_fuel_spent_assump_pc', 'starting_point', 'start_date',
       'fuel_spent_%', 'refueled_%', 'refuiled_times', 'farest_point_m',
       'farest_geo', 'time_reached', 'distination_distance_m', 'destination'],
      dtype='object')

In [90]:
###Let's convert some types
#m/s to km/h
kmh= 3600/1000
km = 1000

trips_table['duration'] = trips_table.duration_s.apply(lambda x: str(timedelta(seconds=x)))
trips_table.total_distance_m = trips_table.total_distance_m / km 
trips_table.total_distance_m = trips_table.total_distance_m.apply(math.floor)
trips_table.total_distance_m = trips_table.total_distance_m.apply(int)
trips_table.median_od_speed_m_s = trips_table.median_od_speed_m_s * kmh
trips_table.median_gps_speed_m_s = trips_table.median_gps_speed_m_s * kmh
trips_table.farest_point_m = (trips_table.farest_point_m / km)
trips_table.distination_distance_m = (trips_table.distination_distance_m / km)
trips_table.farest_point_m = trips_table.farest_point_m.apply(math.floor)
trips_table.distination_distance_m = trips_table.distination_distance_m.apply(math.floor)
trips_table.farest_point_m = trips_table.farest_point_m.apply(int)
trips_table.distination_distance_m = trips_table.distination_distance_m.apply(int)
trips_table.median_od_speed_m_s = trips_table.median_od_speed_m_s.apply(int)
trips_table.median_gps_speed_m_s = trips_table.median_gps_speed_m_s.apply(int)

In [91]:
trips_table.columns

Index(['id', 'trip_id', 'start_trip', 'end_trip', 'duration_s',
       'total_distance_m', 'median_od_speed_m_s', 'median_gps_speed_m_s',
       'cumulative_fuel_spent_assump_pc', 'starting_point', 'start_date',
       'fuel_spent_%', 'refueled_%', 'refuiled_times', 'farest_point_m',
       'farest_geo', 'time_reached', 'distination_distance_m', 'destination',
       'duration'],
      dtype='object')

In [92]:
trips_table.columns= ['id', 'trip_id', 'start_time', 'end_time', 'duration_s', 'total_distance_km', 'median_odometer_speed',
                     'median_gps_speed', 'fuel_spent_calc_%', 'start_point', 'start_date', 'fuel_spent_%', 'refueled_%', 
                      'refuiled_times', 'farest_point', 'farest_geo', 'time_reached', 'destination_distance', 'destination',
                      'duration']
trips_table['C'] = trips_table.apply(lambda x: x['destination'] if x['destination_distance']<x['farest_point']\
                                     else np.nan, axis=1)

In [93]:
def city_by_geo(df_col):
    try: 
        geolocator = Nominatim(user_agent="extractorAPI")
        location = geolocator.reverse(df_col)
        geo= location.raw['address'].get('country','')+' || '+ location.raw['address'].get('city', '')
        return geo
    except: 
        print('Not a location')



trips_table['A_geo'] = trips_table['start_point'].apply(city_by_geo)
trips_table['B_geo'] = trips_table['farest_geo'].apply(city_by_geo)
trips_table['C_geo'] = trips_table['C'].apply(city_by_geo)

Not a location
Not a location
Not a location
Not a location
Not a location
Not a location
Not a location

In [94]:
trips_table= trips_table[['id','trip_id', 'start_date','start_time', 'end_time','duration','duration_s','A_geo',
       'B_geo', 'C_geo', 'start_point', 'farest_geo',  'C', 'total_distance_km', 'median_odometer_speed', 'median_gps_speed',
       'fuel_spent_calc_%','fuel_spent_%','refueled_%', 'refuiled_times']]

trips_table.rename(columns={'farest_geo' : 'B', 'start_point': 'A'}, inplace=True)

In [95]:
trips_long=trips_table.merge(assets, left_on=['id'], right_on=['data_source']).copy()
trips_long=trips_long.merge(accounts, on = ['account_id'])

In [96]:
trips_long=trips_long[['account_name', 'license_plate', 'maker_fixed', 'model', 'tank_capacity','trip_id', 'start_date','start_time', 'end_time','duration', 'duration_s','A_geo',
       'B_geo', 'C_geo', 'A', 'B',  'C', 'total_distance_km', 'median_odometer_speed', 'median_gps_speed',
       'fuel_spent_calc_%','fuel_spent_%','refueled_%', 'refuiled_times' ]]

In [97]:
trips_long['fuel_spent_calc_%']=trips_long['fuel_spent_calc_%']*trips_long['tank_capacity']/100
trips_long['fuel_spent_%']=trips_long['fuel_spent_%']*trips_long['tank_capacity']/100
trips_long['refueled_%']=trips_long['refueled_%']*trips_long['tank_capacity']/100

trips_long.rename(columns = {'fuel_spent_calc_%': 'calc_fuel_spent', 'fuel_spent_%':'fact_fuel_spent',\
                             'refueled_%': 'refueld', 'total_distance_km':'total_distance'}, inplace=True)

In [98]:
trips_long.to_csv('Outputs/trips_table.csv')

In [99]:
trips_long.columns

Index(['account_name', 'license_plate', 'maker_fixed', 'model',
       'tank_capacity', 'trip_id', 'start_date', 'start_time', 'end_time',
       'duration', 'duration_s', 'A_geo', 'B_geo', 'C_geo', 'A', 'B', 'C',
       'total_distance', 'median_odometer_speed', 'median_gps_speed',
       'calc_fuel_spent', 'fact_fuel_spent', 'refueld', 'refuiled_times'],
      dtype='object')

In [100]:
####WOOOW, as there is no trips started in one day and lasted till another, I'll use this table mostly for aggregation 
daily_agg = trips_long.groupby(['start_date', 'account_name', 'license_plate', 'maker_fixed', 'model'], as_index=False).agg(
                                                trips=('trip_id', 'count'),  duration = ('duration', 'sum'),
                                                duration_s=('duration_s', 'sum'), 
                                                total_distance=('total_distance', 'sum'), 
                                                calc_fuel_spent =('calc_fuel_spent', 'sum'), 
                                                fact_fuel_spent=('fact_fuel_spent', 'sum'),
                                                refueld=('refueld', 'sum'), refuiled_times=('refuiled_times', 'sum')
)

In [102]:
daily_agg.to_csv('Outputs/daily_agg.csv')